*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 80px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.result {
  flex-shrink: 0;
}

.content__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  margin-bottom: 40px;
}

